.dyvix-select-warper {
  width: 12rem;
  transition: all 0.5s ease-in-out;
}
.dyvix-select-warper:hover {
  transform: scale(1.02);
}
.dyvi-select {
  width: 12rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.75rem;
  height: 30px;
  margin: 0 auto;
  background: transparent;
  padding: 0.5rem 1rem;
}
.dyvi-select:focus {
  outline: none;
  border-color: #0ea5e9;
}
.dyvix-dropdown-select {
  position: absolute;
  list-style: none;
  text-align: left;
  width: 90px;
  max-height: 60px;
  overflow-y: auto;
  z-index: 1000;
  padding: 0;
  border-radius: 5px;
  background-color: whitesmoke;
  border: solid 1px #e2e8f0;
  margin-left: 10px;
  margin-top: 0.1rem;
}
.dyvix-dropdown-select::-webkit-scrollbar {
  width: 5px;
}
.dyvix-dropdown-select::-webkit-scrollbar-track {
  background: transparent;
}
.dyvix-dropdown-select::-webkit-scrollbar-thumb {
  background-color: #06b6d4;
  border-radius: 25px;
}
.dyvix-dropdown-select li {
  background-color: whitesmoke;
  border-bottom: gainsboro 0.1px solid;
  height: 20px !important;
  font-size: xx-small;
  font-family: 'Inter', 'Segoe UI', sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 0.4rem;
}
.dyvix-dropdown-select li:hover {
  transform: scale(1.003);
  background-color: #e0f7fa;
  cursor: pointer;
}
.dyvix-dropdown-select li:active {
  background-color: #b2ebf2;
  color: white;
}
