.dyvix-toast-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: fixed;
  width: auto;
  z-index: 1000;
  height: auto;
}
.dyvix-toast {
  display: flex;
  width: 20rem;
  min-height: 4.5rem;
  max-height: fit-content;
  height: auto;
  background-color: #ff3366;
  border-radius: 2rem;
  align-items: center;
}
.dyvix-toast-content {
  width: 100%;
  padding: 0 2rem;
}
.dyvix-toast-error {
  background-color: #ff3366;
}
.dyvix-toast-success {
  background-color: green;
}
/* move to positions.css ? */
.dyvix-top-right {
  top: 1rem;
  right: 1rem;
}
.dyvix-top-left {
  top: 1rem;
  left: 1rem;
}
.dyvix-bottom-right {
  bottom: 1rem;
  right: 1rem;
}
.dyvix-bottom-left {
  bottom: 1rem;
  left: 1rem;
}
.dyvix-top-center {
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
.dyvix-bottom-center {
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
