.dyvix-modal-wrapper {
  margin-top: auto;
  width: fit-content;
  display: flex;
  margin: 7rem auto;
  justify-self: center;
}

.modal {
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: 30rem;
  position: relative;
}
#modal-header {
  width: 100%;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  margin-bottom: 0;
  color: rgb(103, 102, 102);
}
.grouped-elements {
  display: flex;
  gap: 20px;
  flex-direction: row;
  margin: 0.5rem auto;
  width: 80%;
  margin-top: 1rem;
}
.grouped-elements input {
  flex: 1;
  max-width: 15rem;
  min-width: 0;
}
.grouped-elements:first-of-type {
  margin-top: 4rem;
}
.modal-text {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  height: 25px;
  margin: 0 auto;
  background: transparent;
  padding: 0.5rem 1rem;
}
.modal-text:focus {
  outline: none;
  border-color: #0ea5e9;
}
.modal-btn {
  width: 10rem;
  height: 2.8rem;
  margin: 2rem auto;
  border: 1px solid black;
  border-radius: 3rem;
  background-color: #0ea5e9;
  flex: 0;
  min-width: 10rem;
  min-height: 2.8rem;
}
