.dyvix-label-wrapper {
  display: inline-block;
  width: fit-content;
  height: fit-content;
  margin-bottom: 0.1rem;
}
.dyvix-label {
  user-select: none;
  cursor: pointer;
  transition:
    color 0.15s ease-in-out,
    opacity 0.15s ease-in-out;
}
.dyvix-label-default {
  font-family: 'Geist', sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: 0.025em;
}
.dyvix-label[data-disabled],
.dyvix-label-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}